# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Created by `dart doc`
doc/
dartdoc_options.yaml

# Avoid committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock

# Build output
build/

# Test coverage
coverage/

# IDE related folders
.vscode/
.idea/

# OS related files
.DS_Store
Thumbs.db

# Ejabberd configuration files
.ejabberd/

# Local Certificate Files for Development
certs/

# Whixp CLI database files
whixp_cli/

# Whixp database files
whixp/

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies